* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: black;
  text-align: center;
  color: aliceblue;
}

header {
  background: black;
  padding: 10px;
}

label {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
}

input {
  border: none;
  font-size: 40;
  font-weight;bold;
  height: 40px;
  padding: 10px;
}

section button {
  padding: 10px 10px;
  margin: 15px;
  border: none;
  font-family: "arial", sans-serif;
  font-weight: bold;
  color: aliceblue;
  background: black;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
section button:hover {
  background: #7200DD;
}

.randomNum {
  /* background: rgb(73, 73, 73); */
  width: 90%;
  margin: 20px auto;
}
p {
  font-weight:bold;
  font-size:20px;
}
